.body{
    width: 100%;
    height: 100vh;
    padding: 15px 20px;
}

.body .quiz-options-modal{
    width: 100%;
    height: 100%;
}

.body .quiz-options-modal .content-quiz-options-modal{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}


.body .quiz-options-modal .content-quiz-options-modal .form .form-content{
    position: relative;
    padding: 40px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: #ffffff;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.body .quiz-options-modal .content-quiz-options-modal .form .form-content .btn-back{
    position: absolute;
    left: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    background: 100%;
    border: none;
    background-color: #ffffff00;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: .2s;
}

.body .quiz-options-modal .content-quiz-options-modal .form .form-content .btn-back:hover{
    background-color: rgb(229, 229, 229);
}



.body .quiz-options-modal .content-quiz-options-modal .form .form-content .form-group {
    width: 100%;
}

.body .quiz-options-modal .content-quiz-options-modal .form .form-content .form-group .select-options-group .select-options-label,
.body .quiz-options-modal .content-quiz-options-modal .form .form-content .form-group .select-num-questions-group .select-num-questions-label{
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body .quiz-options-modal .content-quiz-options-modal .form .form-content .form-group .select-options-group .select-options-label .selected-option svg,
.body .quiz-options-modal .content-quiz-options-modal .form .form-content .form-group .select-num-questions-group .select-num-questions-label .selected-option svg{
    width: 15px;
    height: 15px;
}

.body .quiz-options-modal .content-quiz-options-modal .form .form-content .form-group .select-options-group .select-options-label .selected-option,
.body .quiz-options-modal .content-quiz-options-modal .form .form-content .form-group .select-num-questions-group .select-num-questions-label .selected-option{
    display: flex;
    gap: 5px;
    align-items: center;
}
.body .quiz-options-modal .content-quiz-options-modal .form .form-content .form-group .select-options-group .options,
.body .quiz-options-modal .content-quiz-options-modal .form .form-content .form-group .select-num-questions-group .options{
    position: absolute;
    right: 0%;
    border-radius: 15px;
    background-color: #ffffff;
    max-height: 200px;
    width: 130px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    overflow-y: auto;
    padding: 10px;
}


.body .quiz-options-modal .content-quiz-options-modal .form .form-content .form-group .select-options-group .option,
.body .quiz-options-modal .content-quiz-options-modal .form .form-content .form-group .select-num-questions-group .option{
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    &:hover{
        background-color: rgb(245, 245, 245);
    }
}

.body .quiz-options-modal .content-quiz-options-modal .form .form-content .form-actions{
    width: 100%;
}


.body .quiz-options-modal .content-quiz-options-modal .form .form-content .form-actions .btn-generate{
    width: 100%;
    display: flex;
    justify-content:  flex-end;
   margin-top: 10px;
}

.body .quiz-options-modal .content-quiz-options-modal .form .form-content .form-actions .btn-generate button{
    background-color: var(--color1);
    border: none;
    padding: 10px 15px;
    color: #ffffff;
    border-radius: 15px;
}

