.chart-container{
    z-index: 10000;
}

.node-content {
    padding: 10px;
    border-radius: 8px;
    font-family: sans-serif;
    color: white;
    width: 250px;
    text-align: center;
  }
  