.body .body-content .materials{
    margin-top: 20px;
}


.body .body-content .materials .materials-content{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    
}

.body .body-content .title-content-body{
    font-weight: 600;
}

.body .body-content .materials .materials-content .material{
    border: 2px solid #ededed;
    background-color: #ffffff;
    position: relative;
    width: auto;
    min-height: 200px;   
    border-radius: 15px;
    padding: 20px;

    &&:hover{
        border: 2px solid #e0e0e0;
    }
     /* --tw-shadow: 0px 2px 12px 0px rgba(0, 61, 62, 0.184);
     --tw-shadow-colored: 0px 2px 12px 0px var(--tw-shadow-color);
     box-shadow: var(--tw-ring-offset-shadow, 0 0 #00000027), var(--tw-ring-shadow, 0 0 #00000019), var(--tw-shadow); */
}

.body .body-content .materials .materials-content .material .btn-delete{
    position: absolute;
    right: 7px;
    top: 7px;
    border: none;
    background-color: #ffffff00;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    cursor: pointer;
    transition: .2s;
}

.body .body-content .materials .materials-content .material .btn-delete:hover{
    background-color: #eaeaea;
}

.body .body-content .materials .materials-content .material .material-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}


.body .body-content .materials .materials-content .material .material-content .description{
    font-size: 14px;
}

.body .body-content .materials .materials-content .material .material-content .footer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.body .body-content .materials .materials-content .material .material-content .footer button{
    border: none;
    background-color: var( --teal-10);
    display: flex;
    align-items: flex-end;
    align-items: center;
    padding:  10px 15px;
    border-radius: 13px;
    color:var( --teal-60);
    font-weight: 600;
    gap: 10px;
    cursor: pointer;
}

.body .body-content .materials .materials-content .material .material-content .footer button svg path{
    fill: var( --teal-60);
}

.body .body-content .materials .materials-content .material .material-content .title{
    font-size: 16px;
    
}





@media(max-width:610px){
    .body .body-content .materials .materials-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}







@media(max-width:450px){
    .body .body-content .materials .materials-content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .body .body-content .materials .materials-content .material{
        min-height: 100px;
        border: none;
     /* --tw-shadow: 0px 2px 12px 0px rgba(0, 61, 62, 0.184);
     --tw-shadow-colored: 0px 2px 12px 0px var(--tw-shadow-color);
     box-shadow: var(--tw-ring-offset-shadow, 0 0 #00000027), var(--tw-ring-shadow, 0 0 #00000019), var(--tw-shadow);  */
    }

    .body .body-content .materials .materials-content .material .material-content .description{
        margin-top: 30px;
    }
}


