
<div class="body" *ngIf="materialsData.length > 0">

    <div class="body-content">
        <p class="title-content-body">Materials</p>
        <div class="materials">
            <div class="materials-content" >

                

                <div *ngFor="let data of materialsData" class="material"  [style.view-transition-name]="'material'+data.id">
                    
                    <div class="modal-options-config"  *ngIf="activeModalId === data.id" #modal>
                        <p class="close" (click)="toggleModal(data.id)">x</p>
                        <ul class="options">
                            <li class="option" (click)="updateName(data.id)">Cambiar Nombre</li>
                            <li class="option" (click)="delete(data.id)" style="color: rgb(255, 142, 142);">Eliminar</li>
                        </ul>
                    </div>
                    
                    
                    <div class="header">
                        <div class="img" >
                            
                        </div>
                        <div class="btn-config" (click)="toggleModal(data.id)" #configBtn>
                            <p>...</p>
                        </div>
                    </div>
                    <!-- <div class="btn-delete" (click)="delete(data.id)">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="8" height="8" x="0" y="0" viewBox="0 0 512.015 512.015" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M298.594 256.011 503.183 51.422c11.776-11.776 11.776-30.81 0-42.586s-30.81-11.776-42.586 0L256.008 213.425 51.418 8.836C39.642-2.94 20.608-2.94 8.832 8.836s-11.776 30.81 0 42.586l204.589 204.589L8.832 460.6c-11.776 11.776-11.776 30.81 0 42.586a30.034 30.034 0 0 0 21.293 8.824c7.71 0 15.42-2.952 21.293-8.824l204.589-204.589 204.589 204.589a30.034 30.034 0 0 0 21.293 8.824c7.71 0 15.42-2.952 21.293-8.824 11.776-11.776 11.776-30.81 0-42.586L298.594 256.011z" fill="#000000" opacity="1" data-original="#000000" class=""></path></g></svg>
                    </div> -->
                    <div class="material-content" [routerLink]="['/'+data.type, data.id]">
                        <p class="type">{{data.name}}</p>
                        <p class="description">{{data.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>