
<div class="body" *ngIf="materialsData.length > 0">
    <div class="modalUpdateName" *ngIf="showModaleditNameMaterial===true">
        <button class="close" (click)="closeModalUpdateName()">Close</button>
        <app-modal-update-name-material [id]="idMaterialSelect" (materialUpdated)="onMaterialUpdated($event)"></app-modal-update-name-material>
    </div>
    <div class="body-content">
        <p class="title-content-body">Materials</p>
        <div class="materials">
            <div class="materials-content" >
                <div *ngFor="let data of materialsData" class="material"  [style.view-transition-name]="'material'+data.id">
                    <div class="modal-options-config"  *ngIf="activeModalId === data.id" #modal>
                        <p class="close" (click)="toggleModal(data.id)">x</p>
                        <ul class="options">
                            <li class="option" (click)="openModalUpdateName(data.id)">Cambiar Nombre</li>
                            <li class="option" (click)="delete(data.id)" style="color: rgb(255, 142, 142);">Eliminar</li>
                        </ul>
                    </div>
                    <div class="header">
                        <div class="img" >
                            
                        </div>
                        <div class="btn-config" (click)="toggleModal(data.id)" #configBtn>
                            <p>...</p>
                        </div>
                    </div>
                    <div class="material-content" [routerLink]="['/'+data.type, data.id]">
                        <p class="type">{{data.name}}</p>
                        <p class="description">{{data.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>