<div class="body">
  <!-- <header class="header">
    <p>Volver</p>
  </header> -->
  <div class="content-wrapper">
    
    <div class="modal-quiz-result" *ngIf="showModalResultOfQuiz===true">
      <app-modal-result-of-question [data]="dataResultOfQuiz"></app-modal-result-of-question>
    </div>

    <div class="quiz-wrapper" *ngIf="showQuiz===true">
      <div class="header">
        <div class="close">
          <button (click)="back()">X</button>
        </div>
        <div class="progress-bar">
          <div class="progress" [style.width.%]="progress"></div>
        </div>
        <div class="count"><p class="text-count">{{currentIndex + 1}}</p><p class="text-count">/</p><p class="text-count">{{totalSteps}}</p></div>
      </div>
      <swiper-container 
        #swiperRef
        navigation="false" 
        pagination="false"
        space-between="20"
        allow-touch-move="false"
        class="swiper-container-custom"
      >
        <swiper-slide *ngFor="let question of data; let i = index" class="slide">
          <div class="title-question">
            <h1>{{ question.question}}</h1>
          </div>
          <div class="options-question">
            <p *ngFor="let option of question?.options;" 
               (click)="!question.answered ? seleccionarRespuesta(question, option, i) : null"
               [ngClass]="{
                 'color-green': question.selected_answer && option === question.answer_correct, 
                 'color-red': question.selected_answer === option && option !== question.answer_correct
               }"
            >
              {{option}}
            </p>
          </div>
        </swiper-slide>
      </swiper-container>

      <div class="nav-buttons">
        <button 
              class="back"
              (click)="goToPrevious()"
              [disabled]="currentStep <= 1"
              [ngClass]="{'opacity':currentStep <= 1}"
              >
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g transform="matrix(-1,-1.2246467991473532e-16,1.2246467991473532e-16,-1,511.9999694824219,512.0002288818359)"><path d="M502.628 278.627 389.25 392.005c-6.249 6.249-14.438 9.373-22.628 9.373s-16.379-3.124-22.628-9.373c-12.496-12.497-12.496-32.758 0-45.255L402.745 288H32c-17.673 0-32-14.327-32-32s14.327-32 32-32h370.745l-58.751-58.75c-12.496-12.497-12.496-32.758 0-45.255 12.498-12.497 32.758-12.497 45.256 0l113.378 113.378c12.496 12.496 12.496 32.758 0 45.254z" fill="#4083e1" opacity="1" data-original="#000000" class=""></path></g></svg>
              Anterior
        </button>

        <button 
          *ngIf="currentIndex < data.length - 1"
          class="next"
          (click)="goToNext()" 
          [disabled]="!data[currentIndex]?.answered || currentIndex === data.length - 1"
          [ngClass]="{'opacity':!data[currentIndex]?.answered || currentIndex === data.length - 1}">
          Siguiente
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M502.628 278.627 389.25 392.005c-6.249 6.249-14.438 9.373-22.628 9.373s-16.379-3.124-22.628-9.373c-12.496-12.497-12.496-32.758 0-45.255L402.745 288H32c-17.673 0-32-14.327-32-32s14.327-32 32-32h370.745l-58.751-58.75c-12.496-12.497-12.496-32.758 0-45.255 12.498-12.497 32.758-12.497 45.256 0l113.378 113.378c12.496 12.496 12.496 32.758 0 45.254z" fill="#4083e1" opacity="1" data-original="#000000" class=""></path></g></svg>
        </button>

        <button 
          *ngIf="currentIndex > data.length - 2" 
          class="btn-finalizar-quiz" 
          (click)="showModalResulOftQuiz()">
          Finalizar
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M502.628 278.627 389.25 392.005c-6.249 6.249-14.438 9.373-22.628 9.373s-16.379-3.124-22.628-9.373c-12.496-12.497-12.496-32.758 0-45.255L402.745 288H32c-17.673 0-32-14.327-32-32s14.327-32 32-32h370.745l-58.751-58.75c-12.496-12.497-12.496-32.758 0-45.255 12.498-12.497 32.758-12.497 45.256 0l113.378 113.378c12.496 12.496 12.496 32.758 0 45.254z" fill="#4083e1" opacity="1" data-original="#000000" class=""></path></g></svg>
        </button>
      </div>
    </div>
  </div>
</div>
