<div class="loader" *ngIf="showLoading">
    <app-loader-bunglo></app-loader-bunglo>
</div>
<div class="" *ngIf="!showLoading">
    <div class="">
        <div class="" *ngIf="tipe_upload === 'text'">
            <app-text (sendDataEvent)="handleSendData($event)"></app-text>
            
        </div>
        <div class="" *ngIf="tipe_upload === 'pdf'">
            <app-pdf (onTextExtracted)="handleSendData($event)"></app-pdf>
        </div>
        <div class="" *ngIf="tipe_upload === 'image'">
            <app-image></app-image>
        </div>
        <div class="" *ngIf="tipe_upload === 'url'">
            <app-url></app-url>
        </div>
    </div>
</div>

