<div class="body" [ngClass]="{'paddin-letf':minimize_sidebar_active === true, 'no-padding-letf':displayNone_sidebar_active===true}">
    <div class="nav-mobile">
        <app-nav-mobile></app-nav-mobile>
    </div>
    <div *ngIf="!displayNone_sidebar_active" class="sidebar-container" [ngClass]="{'minimize-sidebar':minimize_sidebar_active === true}">                             
        <app-sidebar></app-sidebar>
    </div>
    <div class="router-outlet" >
        <router-outlet></router-outlet>
    </div>
</div>