.body .body-content .materials{
    margin-top: 20px;
}


.body .body-content .materials .materials-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.body .body-content .title-content-body{
    font-weight: 600;
}

.body .body-content .materials .materials-content .material{
    background-color: #ffffff;
    width: auto;
    min-height: 200px;   
    border-radius: 15px;
    padding: 20px;
     --tw-shadow: 0px 2px 12px 0px rgba(0, 0, 0, .04);
     --tw-shadow-colored: 0px 2px 12px 0px var(--tw-shadow-color);
     box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.body .body-content .materials .materials-content .material .material-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.body .body-content .materials .materials-content .material .material-content .footer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.body .body-content .materials .materials-content .material .material-content .footer button{
    border: none;
    background-color: #dbefff;
    display: flex;
    align-items: flex-end;
    align-items: center;
    padding:  10px 15px;
    border-radius: 13px;
    color:var(--color1);
    font-weight: 600;
    gap: 10px;
    cursor: pointer;
}

.body .body-content .materials .materials-content .material .material-content .footer button svg path{
    fill: var(--color1);
}

.body .body-content .materials .materials-content .material .material-content .title{
    font-size: 16px;
    
}