
<div class="body" *ngIf="materialsData.length > 0">
    <div class="modalUpdateName" *ngIf="showModaleditNameMaterial===true">
        <div class="modalUpdateName-content">
            <div class="btn-close">
                <button class="close" (click)="closeModalUpdateName()">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="8px" height="8px" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="m13.93 12 7.736-9.557A1.499 1.499 0 1 0 19.334.557L12 9.617 4.666.557C3.425-.962 1.106.914 2.334 2.444l7.736 9.557-7.736 9.556a1.499 1.499 0 1 0 2.332 1.886L12 14.383l7.334 9.06a1.5 1.5 0 1 0 2.332-1.886L13.93 12Z" fill="#000000" opacity="1" data-original="#000000" class=""></path></g></svg>
                </button>
            </div>
        <app-modal-update-name-material [id]="idMaterialSelect" (materialUpdated)="onMaterialUpdated($event)"></app-modal-update-name-material>
        </div>
    </div>
    <div class="body-content">
        <div class="header-material">
            <p class="title-content-body">Materials</p>
            <p class="ver-todos" [routerLink]="['/materials']">Ver Todos</p>
        </div>
        <div class="materials">
            <div class="materials-content" >
                <!-- [style.view-transition-name]="'material'+data.id" -->
                <div *ngFor="let data of materialsData | slice:0:10" class="material"  >
                    <div class="modal-options-config"  *ngIf="activeModalId === data.id" #modal>
                        
                        <button class="close" (click)="toggleModal(data.id)">
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="10px" height="10px" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="m13.93 12 7.736-9.557A1.499 1.499 0 1 0 19.334.557L12 9.617 4.666.557C3.425-.962 1.106.914 2.334 2.444l7.736 9.557-7.736 9.556a1.499 1.499 0 1 0 2.332 1.886L12 14.383l7.334 9.06a1.5 1.5 0 1 0 2.332-1.886L13.93 12Z" fill="#000000" opacity="1" data-original="#000000" class=""></path></g></svg>
                        </button>
                        <ul class="options">
                            <li class="option" (click)="openModalUpdateName(data.id)">Cambiar Nombre</li>
                            <li class="option" (click)="delete(data.id)" style="color: rgb(255, 142, 142);">Eliminar</li>
                        </ul>
                    </div>
                    <div class="header">
                        <div class="img">
                            <div class="icon" [innerHTML]="getSvgByType(data.type)" [routerLink]="['/material/'+data.type, data.id]"></div>
                        </div>
                        <div class="btn-config" (click)="toggleModal(data.id)" #configBtn>
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="15" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><circle cx="458.667" cy="256" r="53.333" fill="#000000" opacity="1" data-original="#000000"></circle><circle cx="256" cy="256" r="53.333" fill="#000000" opacity="1" data-original="#000000"></circle><circle cx="53.333" cy="256" r="53.333" fill="#000000" opacity="1" data-original="#000000"></circle></g></svg>
                        </div>
                    </div>
                    <div class="material-content" [routerLink]="['/material/'+data.type, data.id]">
                        <p class="type">{{data.name}}</p>
                        <p class="description">{{data.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>