.body .body-content .materials{
    margin-top: 20px;
}

.body .modalUpdateName{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: #000000a6;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.body .modalUpdateName .modalUpdateName-content{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.body .modalUpdateName .btn-close{
   width: 100%;
   display: flex;
   justify-content: flex-end;
}

.body .modalUpdateName .btn-close button{
    cursor: pointer;
    border: none;
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50px;
}

.body .body-content .materials .materials-content{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    
}

.body .body-content .header-material {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.body .body-content .header-material .ver-todos{
    font-size: 12px;
    cursor: pointer;
    padding: 6px 10px;
    border-radius: 15px;
    font-weight: 600;
    color: var(--primary-60);
    border: 1px solid var(--primary-60);
}

.body .body-content .header-material .title-content-body{
    font-weight: 600;
}

.body .body-content .materials .materials-content .material{
    border: 2px solid #ededed;
    background-color: #f9f9fc;
    position: relative;
    width: auto;
    min-height: 200px;   
    border-radius: 15px;
    padding: 20px;

    &&:hover{
        border: 2px solid #e0e0e0;
    }
     /* --tw-shadow: 0px 2px 12px 0px rgba(0, 61, 62, 0.184);
     --tw-shadow-colored: 0px 2px 12px 0px var(--tw-shadow-color);
     box-shadow: var(--tw-ring-offset-shadow, 0 0 #00000027), var(--tw-ring-shadow, 0 0 #00000019), var(--tw-shadow); */
}

.body .body-content .materials .materials-content .material .modal-options-config{
    z-index: 1;
    background-color: #ffffff;
    position: absolute;
    right: 10px;
    top: 50px;
    padding: 20px 10px;
    border-radius: 10px;
    font-weight: 600;
    --tw-shadow: 0px 2px 12px 0px rgba(0, 61, 62, 0.184);
     --tw-shadow-colored: 0px 2px 12px 0px var(--tw-shadow-color);
     box-shadow: var(--tw-ring-offset-shadow, 0 0 #00000027), var(--tw-ring-shadow, 0 0 #00000019), var(--tw-shadow);
}

.body .body-content .materials .materials-content .material .modal-options-config .close{
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 5px;
    color: #7c7c7c;
    background-color: transparent;
    border: none;

}

.body .body-content .materials .materials-content .material .modal-options-config .options{
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.body .body-content .materials .materials-content .material .modal-options-config .options .option{
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    &&:hover{
        background-color: #f3f3f3;
    }
}


.body .body-content .materials .materials-content .material .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.body .body-content .materials .materials-content .material .header .btn-config{
    cursor: pointer;
}

.body .body-content .materials .materials-content .material .header .img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}





.body .body-content .materials .materials-content .material .material-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    cursor: pointer;
}


.body .body-content .materials .materials-content .material .material-content .description{
    cursor: pointer;
    font-size: 14px;
    color: #686868;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Máximo 3 líneas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.body .body-content .materials .materials-content .material .material-content .type{
    font-size: 16px;
    font-weight: 600;
}



@media(max-width:1300px){
    .body .body-content .materials .materials-content{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
}



@media(max-width:1100px){
    .body .body-content .materials .materials-content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}


@media(max-width:900px){
    .body .body-content .materials .materials-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}



@media(max-width:450px){
    .body .body-content .materials .materials-content{
        gap: 10px;
    }

    .body .body-content .materials .materials-content .material{
        min-height: 100px;
    }
    .body .body-content .materials .materials-content .material .material-content .description{
        font-size: 12px;
        
    }

    .body .body-content .materials .materials-content .material .material-content .type{
        font-size: 14px;
    }
  
}


