<div class="body">
    <div class="content-body">
        <div class="quiz-container">
            <div class="quiz-description">
                <p>Elige una opción para continuar.</p>
            </div>
            <div class="button-action">
                <button class="btn-nuevo" (click)="sessionQuiz('nuevo')">Generar Nuevo Quiz</button>
                <button class="btn-reanudar" (click)="sessionQuiz('reanudar')">Reanudar quiz</button>
            </div>
        </div>
    </div>
</div>
