<div class="body">
    <div class="content-body">
        <div class="quiz-container">
            <button (click)="back()" class="btn-back">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="12" height="12" x="0" y="0" viewBox="0 0 408 408" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M408 178.5H96.9L239.7 35.7 204 0 0 204l204 204 35.7-35.7L96.9 229.5H408v-51z" fill="#4f4f4f" opacity="1" data-original="#000000" class=""></path></g></svg>
            </button>
            <div class="quiz-description">
                <p>Elige una opción para continuar.</p>
            </div>
            <div class="button-action">
                <button class="btn-nuevo" (click)="sessionQuiz('nuevo')">Generar Nuevo Quiz</button>
                <button class="btn-reanudar" (click)="sessionQuiz('reanudar')">Reanudar quiz</button>
            </div>
        </div>
    </div>
</div>
