<div class="body">
    <div class="modal-upload-text" *ngIf="showModalUlploadOptions === true">
        <div class="upload-text-container">
            <div class="upload-text-file-options">
                <app-file-upload-options (sendDataEvent)="recivedTextToGenerateSumarize($event)"></app-file-upload-options>
            </div>
        </div>
    </div>

    <div class="modal-estilo-resumen" *ngIf="showModalSummaryStyle === true">
        <div class="modal-estilo-resumen-container">
            <p class="title">Elige el estilo del resumen</p>
            <app-modal-summary-style (sendDataEvent)="recivedDataToModalSummarizeStyle($event)"></app-modal-summary-style>
        </div>
    </div>

    <div class="loader"*ngIf="showLoader1===true">
        <app-loader1 ></app-loader1>
    </div>
</div>