/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
:root {
    --color1: #316fbf;
    --color13: #f5f6f9;
    --width-sidebar:250px;
    --width-sidebar-minimize:90px;

    
}
  


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /* font-family: "roboto", sans-serif; */
    font-family: "sora", sans-serif;
    
}

body{
    
    background-color: var(--color13);
}

.no-scroll {
    overflow: hidden;
  }