/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
:root {
 

/* Escala azul */
--primary-5: #e9f0ff;
--primary-10: #d2dcef;
--primary-20: #9ebfe0;
--primary-30: #7aa6d6;
--primary-40: #568dcc;
--primary-base: #2471dd;
--primary-60: #00396f;
--primary-70: #002e59;
--primary-80: #002244;
--primary-90: #00162f;


  --color1: #316fbf;
  --color13: #f5f6f9;
  --width-sidebar:230px;
  --width-sidebar-minimize:90px;
}
  


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /* font-family: "roboto", sans-serif; */
    font-family: "sora", sans-serif;
    
}

body{
    overflow-y: scroll;
    background-color: white;
}

.no-scroll {
    overflow: hidden;
  }


@media(max-width:600px){
  body{
    background-color: #f4f7fa;
    padding-bottom: 50px;
  }
}