.home-body{
    
    /* height: 200vh; */
    /* padding-left:  var(--width-sidebar); */
    transition: .3s;
    width: 100%;
}

/* .enlarge{
    transition: .4s;
    padding-left: var(--width-sidebar-minimize);
} */

.home-body .home-container{
    max-width: 1400px;
    margin: 0 auto 0 auto;
    padding: 10px 40px;
}

.home-body .home-container .sidebar-container{
    transition: .4s;
    position: fixed;
    top: 0;
    left: 0;
    width: var(--width-sidebar); /* Ajusta el ancho según sea necesario */
    height: 100vh; /* Ocupar toda la altura de la pantalla */
    padding: 10px 0px 10px 10px;
}

.home-body .home-container .minimize-sidebar{
    transition: .3s;
    width: var(--width-sidebar-minimize);
}


.home-body .home-container .body-content{
    transition: .3s;
    width: 100%;
    margin-top: 40px;
}

.home-body .home-container .body-content .materials{
    margin-top: 100px;
}