.home-body{
    width: 100%;
}


.home-body .home-container{
    max-width: 1400px;
    margin: 0 auto 0 auto;
    padding: 10px 40px;
}

.tools{
    position: relative;
    margin-top: 60px;
    padding-top: 40px;
}

.tools .title p{
    color: white;
    text-align: center;
    margin-top: 0px;
    font-size: 20px;
    font-weight: 600;
}

.tools .fondo{
    display: none;
}

.tools .tools-wrapper{
    margin-top: 20px;
}


.home-body .home-container .sidebar-container{
    transition: .4s;
    position: fixed;
    top: 0;
    left: 0;
    width: var(--width-sidebar); /* Ajusta el ancho según sea necesario */
    height: 100vh; /* Ocupar toda la altura de la pantalla */
  
}

.home-body .home-container .minimize-sidebar{
    transition: .3s;
    width: var(--width-sidebar-minimize);
}


.home-body .home-container .body-content{
    transition: .3s;
    width: 100%;
    margin-top: 40px;
}

.home-body .home-container .body-content .materials{
    margin-top: 40px;
    padding: 10px;
}



@media(max-width:700px){
    .home-body{
        margin-top: 50px;
        width: 100%;
        padding: 0px;
    }

    .home-body .home-container .search{
        display: none;
    }

    .home-body .home-container{
        max-width: 100%;
        padding: 0px;
    }

    .tools .fondo{
        display: block;
        top: 0px;
        left: 0px;
        z-index: -1;
        background-color: rgb(0, 75, 136);
        position: absolute;
        min-height: 550px;
        width: 100%;
        border-radius: 0px 0px 20px 20px;
    }
    

    .home-body .home-container .body-content{
        width: 100%;
        margin-top: 0px;
    }

    .home-body .home-container .body-content .main-content{
        width: 100%;
        
    }

    .home-body .home-container .body-content .main-content .file-upload-options{
        padding-top: 0px;
    }

}
