<div class="home-body">
    <div class="home-container">
        <div class="search">
            <app-search></app-search>
        </div>
        <div class="body-content" >
            <div class="main-content">
                <div class="file-upload-options">
                    <app-file-upload-options></app-file-upload-options>
                </div>
                <div class="materials">
                    <app-materials></app-materials>
                </div>
            </div>
        </div>
    </div>
</div>