.btn-container button{
    background-color: rgb(255, 255, 255);
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    &&:hover{
        background-color: rgb(237, 237, 237);
    }
}

.btn-container button svg{
    width: 15px;
    height: 15px;
}


